* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: WHITESMOKE; }

header {
  background-color: white;
  border-radius: 15px;
  font-family: "Montserrat";
  margin: 10px; }
  header .bg-body-tertiary {
    --bs-bg-opacity: 0; }
  header .navbar-nav .nav-link.active, header .navbar-nav .show > .nav-link {
    color: #ff3b3b; }
  header .nav-link {
    display: block;
    padding: 10px;
    font-size: large;
    font-weight: 50px;
    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-family: "Montserrat"; }
  header .navbar-nav {
    font-weight: bolder; }
  header .img, header info {
    width: 100%; }
  header .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end; }
  header .navbar-nav {
    align-items: center; }

main .main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 22px;
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px; }

main .imagen_principal .img_fondo {
  width: 98.4%; }

main .imagen_principal .img_fondo {
  border-radius: 15px;
  margin-left: 10px; }

main .title_index .title_index_backgraund {
  background-color: 444444;
  border-radius: 15px;
  margin: 10px;
  margin-bottom: 1rem; }
  main .title_index .title_index_backgraund .titulo_index {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    font-size: xx-large;
    color: azure;
    padding: 1.5rem; }

main .row {
  border-radius: 15px; }
  main .row .card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    font-size: x-large;
    font-family: "Montserrat"; }
  main .row .btn_index {
    text-decoration: none; }
  main .row .card-body {
    background-color: #ff3b3b; }

main .hero_rojo {
  background-color: #ff3b3b;
  border-radius: 15px;
  margin: 10px;
  height: 8rem; }
  main .hero_rojo .texto_pedidos {
    text-align: center;
    padding: 2rem;
    color: azure;
    font-size: xx-large;
    font-family: "Montserrat"; }

main .boton-whatsapp {
  position: fixed;
  right: 62px;
  bottom: 80px;
  width: 50px;
  height: 50px;
  z-index: 100; }

main .foter {
  display: flex;
  justify-content: center;
  height: 10px;
  align-items: center;
  background-color: white;
  font-family: sans-serif;
  padding: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 15px;
  margin: 10px; }

footer .foter {
  display: flex;
  justify-content: center;
  height: 10px;
  align-items: center;
  background-color: white;
  font-family: sans-serif;
  padding: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 15px;
  margin: 10px; }

.color {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 15px; }
  .color .rojo {
    background-color: #ff3b3b;
    border-radius: 15px;
    width: 100%;
    height: 40px; }
  .color .titulo_tienda {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    font-size: xx-large;
    color: azure; }

.section_tienda {
  display: flex;
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: space-around; }
  .section_tienda .cuerpo_tarjeta {
    font-family: "Montserrat";
    font-size: 13px;
    width: 280px;
    border: solid gray 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin: 2rem;
    transition: 2s; }
    .section_tienda .cuerpo_tarjeta .imagen {
      width: 100%;
      border-radius: 5px; }
    .section_tienda .cuerpo_tarjeta .datos {
      padding: 12px;
      margin-bottom: 10px; }
      .section_tienda .cuerpo_tarjeta .datos .comprar {
        text-decoration: none;
        color: black;
        background-color: #ff3b3b;
        border-radius: 5px;
        padding: 8px; }
      .section_tienda .cuerpo_tarjeta .datos .comprar:hover {
        background-color: #ff5c5c; }
  .section_tienda .cuerpo_tarjeta:hover {
    width: 380px; }

.img {
  width: 100%;
  border-radius: 15px; }

.main {
  display: flex;
  background-color: white;
  border-radius: 15px;
  margin: 10px; }
  .main #tarjeta3 {
    border-radius: 15px; }
  .main .clearfix {
    font-family: "Montserrat"; }
  .main h2 {
    display: flex;
    justify-content: center;
    font-weight: bolder; }
  .main .h2_titulo {
    background-color: #ff3b3b;
    color: white;
    border-radius: 15px; }
  .main p, .main ol {
    font-weight: bold; }
  .main .bondiola {
    margin-top: 1rem; }

@media screen and (min-width: 425px) {
  .row {
    flex-direction: column; }
  .col {
    margin: 1rem; } }

@media screen and (min-width: 769px) {
  .row {
    display: flex;
    flex-direction: row; }
  img {
    width: 240; }
  .info {
    margin-top: 2rem; }
  element.style {
    justify-content: center;
    /* align-items: center; */ } }
