*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:whitesmoke
}
/*HEADER*/
header {
    background-color: white;
    border-radius: 15px;
    FONT-FAMILY: 'Montserrat';
    margin: 10px;
}
/*HEADER*/
/*MAIN*/
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    border: 22px;
    border-radius: 15px;
    margin: 15px;
}


.tarjeta {
    margin: 20px;
    width: 350px;
    height: 350px;
    border-radius: 5px;
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, .8);
    background-position: center;
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: .5s;
}
#card1 {
    background-image: url(../img/tarjeta1.jpg);
}
#card2 {
    background-image: url(../img/tarjeta2.jpg);
}
#card3 {
    background-image: url(../img/tarjeta3.jpg);
}
#card4 {
    background-image: url(../img/tarjeta4.jpg);
}
.content h2, a {
    color: rgba(255, 255, 255, .8);
    margin: 10px 0;
}
.tarjeta:hover .content {
    opacity: 1;
    border-radius: 5px;
}
.textotarjeta {
    text-decoration: none;
    color: rgb(0, 0, 0);
    FONT-FAMILY: 'Montserrat';
}

.active{
    color: rgb(255, 0, 0);
    transition: .5s;
}
.vermas{
color: white;
}
.title_tarjetas{
    position: absolute;
    justify-content: center;
    top: 790px;
    FONT-FAMILY: 'Montserrat';
    font-weight: bold;
    font-size:xx-large;
}
/*MAIN*/
/*FOOTER*/


.h4_footer{
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;
    font-weight: 600px;
}
/*FOOTER*/
.titulo_tienda{
    display: flex;
    align-items: center;
    justify-content: center;
    FONT-FAMILY: 'Montserrat';
    font-size: xx-large;
}
.rojo{
    background-color: #ff3b3b ;
    border-radius: 15px;
    width: 100%;
    height: 40px;
}
.button {
    background-color: #ff3b3b;
    border: none;
    color: white;
    padding: 7px 14px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 100px ;
    height: 35px;
    border-radius: 15px;
}

.imagen {
    width: 100%;
    border-radius: 5px;
}
.cuerpo_tarjeta{
    FONT-FAMILY: 'Montserrat';
    font-size: 13px;
    width: 280px;
    border: solid gray 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    margin: 2rem;
    transition: 2s;
} 
.comprar{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 59, 59);
    border-radius: 5px;
    padding: 8px;
}
.comprar:hover{
    background-color:rgb(255, 92, 92) ;
}
.datos{
    padding: 12px;
    margin-bottom: 10px;
}
.section_tienda{
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
.color{
    background-color: white ; 
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
}
/*TIENDA*/
.cuerpo_tarjeta:hover {
    width: 380px;
}
.active{
    color: rgb(255, 0, 0);
    transition: .5s;
}
.h4_footer{
    color: rgb(0, 0, 0);
    padding: 30px;
    text-decoration: none;
    font-size: small;
    text-align: center;
    margin-top: 0.8rem;
}
.foter {
    display: flex;
    justify-content: center;
    height: 10px;
    align-items: center;
    background-color: white;
    font-family: sans-serif;
    padding: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 15px;
    margin: 10px;
}
.nav-linnk{
    color: black;
}
.img_fondo{
    width: 98%;
    height: 100%;
    border-radius: 15px;
    margin: 10px;
}
.hero_rojo{
    background-color:#ff3b3b;
    border-radius: 15px;
    margin: 10px;
    height: 8rem;
}
.texto_pedidos{
    text-align: center;
    padding: 2rem;
    color: azure;
    font-size:xx-large;
    FONT-FAMILY: 'Montserrat';
}
.boton-whatsapp{
    position: fixed;
    right: 62px;
    bottom: 80px;
    width: 50px;
    height: 50px;
    z-index: 100;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color:#ff3b3b;
}
.nav-link {
    display: block;
    padding: 10px;
    font-size: large;
    font-weight: 50px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    FONT-FAMILY: 'Montserrat';
    
}
.bg-body-tertiary {
    --bs-bg-opacity: 0;
    
}
.navbar-nav {
    font-weight:bolder; 
}
.img, info{
    width: 100%;
}
@media screen and (min-width: 768px) {
    img{
        width: 240;
    }
    .navbar-expand-lg .navbar-collapse{
        flex-basis: auto;
        justify-content: flex-end;
    }
    .navbar{
        height: 50px;}
    .info {
        margin-top: 2rem;
    }

}



@media (max-width: 425px){

    .imagen_principal{
        width: 100%;}

    .main {
        flex-direction: column;
    }
    .title_tarjetas{
        position: relative;
        top: 5px;
        padding: 2rem;
        text-align: center;
    }
    h2{
        margin-top: -13;
        font-weight: 500;
        line-height: 1.2;
    }
    footer{
        flex-direction: column;
        height: 0px;}
    .img_fondo {
            width: 96%;
            height: auto;
    }
    .row {
        flex-wrap: wrap;
        flex-direction: column;
    }

}