@media screen and (min-width: 320px){
    .row{
        display: flex;
        flex-direction: column;
    }
    .col{
        margin-top: 1rem;
    }
    

}
@media screen and (min-width: 769px) {
    
    .row{
        display: flex;
        flex-direction: row;
    }
    img{
        width: 240;
    }
    .info {
        margin-top: 2rem;
    }
    element.style {
        justify-content: center;
        /* align-items: center; */
    }
}
