@media screen and (min-width: 768px) {
    img{
        width: 240;
    }
    .info {
        margin-top: 2rem;
    }
}
@media (max-width: 425px){
    .imagen_principal{
        width: 100%;}
    .main {
        flex-direction: column;
    }
    .title_tarjetas{
        position: relative;
        top: 5px;
        padding: 2rem;
        text-align: center;
    }
    h2{
        margin-top: -13;
        font-weight: 500;
        line-height: 1.2;
    }
    footer{
        flex-direction: column;
        height: 0px;}
    .img_fondo {
            width: 96%;
            height: auto;
    }
    .row {
        flex-wrap: wrap;
        flex-direction: column;}
}